* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  shape-rendering: crispEdges;
}

p {
  font-weight: 200;
  font-size: 0.9em;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: rgb(41, 114, 248);
  font-size: 0.9em;
  font-weight: 600;
}

a:hover {
  color: white;
}

small {
  font-size: 0.8em;
  font-weight: 300;
  color: rgb(173, 173, 173);
}

body {
  background-color: black;
  color: black;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(30, 30, 30);
  height: 5em;
  position: fixed;
  background-color: black;
}

main {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5em;
  padding: 8em 0em;
}

.post__container {
  width: 468px;
  height: fit-content;
  border-radius: 0.6em;
  background-color: white;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__container__header {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0em 1em 0em;
}

.post__container__header__profileComponent {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.post__container__header__profileComponent__profileImg {
  background-color: aqua;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-position: center;
  background-size: 32px;
}

/* Aca comienza el bloque de codigo que modifica las imagenes de perfil de una publicación*/

#profileImg-1 {
  background-image: url("https://tinyurl.com/y56nuvp6");
}

#profileImg-2 {
  background-image: url("https://tinyurl.com/2h6bjb4e");
}

#profileImg-3 {
  background-image: url("https://tinyurl.com/2oe6y42v");
}

#profileImg-4 {
  background-image: url("https://tinyurl.com/y6wofg5k");
}

.post__container__header__profileComponent__profileName,
.post__container__header__profileComponent__profileTime,
.post__container__header__profileComponent__profileFollow {
  width: auto;
  display: flex;
  justify-content: flex-start;

  &.post__container__header__profileComponent__profileTime {
    color: rgb(173, 173, 173);
    font-weight: 100;
  }

  &.post__container__header__profileComponent__profileName {
    display: block;
  }
}

.post__container__img {
  width: 468px;
  height: 468px;
  background-position: center;
  background-size: 468px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* este bloque de código cambia las imagenes de las publicaciones  */

#postImg-1 {
  background-image: url("https://tinyurl.com/2kcxvelg");
}

#postImg-2 {
  background-image: url("https://tinyurl.com/2gcuskhn");
}

#postImg-3 {
  background-image: url("https://tinyurl.com/2f8oatvt");
}

#postImg-4 {
  background-image: url("https://tinyurl.com/2ftduf39");
}

.post__container__actions {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0em 1.5em 0em;
}

.post__container__actions__left {
  width: fit-content;
  display: flex;
  gap: 18px;
}

.post__container__actions__right {
  width: fit-content;
  display: flex;
}

.post__container__description {
  width: 100%;
  height: fit-content;
  padding-top: 1em;

  & p {
    font-weight: 300;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    font-size: 0.8em;
    text-align: left;
  }

  & a {
    margin-left: 0.5em;
    color: rgb(151, 151, 151);
  }
}

p + p {
  padding-top: 1em;
}
